.side-bar
  = render "side-bar"

.chat-main
  .main-header
    .main-header__group-name
      = @group.name
    .main-header__menber
      .main-header__menber_list Member：
      .main-header__menber_list
        - @group.users.each do |user|
          .main-header__menber_name
            = user.name
    .main-header__edit-button
      = link_to "Edit", edit_group_path(@group), class: "main-header__edit-button_link"
  .chat-main__chat-list
    = render @messages
  .chat-main__input-box
    .input
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: "input__text", placeholder: "type a message"
        .input__image
          = f.label :image do
            = fa_icon "image", class: "input__image__icon"
            = f.file_field :image, class: "input__image__hiden"
        = f.submit "Send", class: "input__submit"
